<!-- Footer -->
<footer id="footer" class="pt-5 mt-5 text-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <p class="display-4 mb-4 font-weight-bold">Nógrád Apró</p>
      </div>
      <div class="col-12 mb-3">
        <h6>A Nógrád Apró (nogradapro.com) egy apróhirdetési oldal. Az oldal üzemeltetője nem árul semmit, kereskedelmi tevékenységet nem folytat. Az oldal egy hirdetési felület magánszemélyek és cégek számára.</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h5 class="text-uppercase">Információk</h5>
      </div>
    </div>
    <div class="row d-flex justify-content-around">
      <div class="col-6">
        <ul class="list-unstyled">
          <li>
            <a href="/gdpr">Adatkezelés</a>
          </li>
          <li>
            <a href="/impressum">Impresszum</a>
          </li>
          <li>
            <a href="/cookies" target="_blank">Sütik (cookies)</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="list-unstyled">
          <li>
            <a href="/commentpolicy" target="_blank">Kommentelés</a>
          </li>
          <li>
            <a href="https://tmajoros.info" target="_blank">Ki vagyok?</a>
          </li>
          <li>
            <a href="/help">Help</a>
          </li>
        </ul>
      </div>

      <div class="col-12 text-center mt-4 mb-2">
        <br>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-light" rel="nofollow" href="https://twitter.com/tmajoros" target="_blank" title="Twitter">
              <i class="fab fa-twitter fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-light" rel="nofollow" href="https://www.instagram.com/smartbeeweboldalak/" target="_blank"
              title="Instagram">
              <i class="fab fa-instagram fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-light" rel="nofollow" href="https://business.facebook.com/smartbeeweb" target="_blank"
              title="Facebook">
              <i class="fab fa-facebook fa-2x"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-light" rel="nofollow" href="https://www.linkedin.com/in/majoros-tamas/" target="_blank"
              title="LinkedIn">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <div class="scroll-btn-top">
          <a class="text-primary" href="#pageTop"><i class="fas fa-arrow-alt-circle-up fa-3x"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center py-3">
<h6 class="text-uppercase">Smart-Bee Web &copy; Copyright 2019.
  </div>
</div>
</footer>


<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v3.2&appId=701536770240682&autoLogAppEvents=1"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
  crossorigin="anonymous"></script>
<script>
  $(document).on('click', '.navbar-collapse.in', function (e) {
    if ($(e.target).is('a') && ($(e.target).attr('class') != 'dropdown-toggle')) {
      $(this).collapse('hide');
    }
  });
</script>
</body>

</html>