<% include ./partials/header %>

<body class="bg-light">
  <main class="wrapper">
    <div class="text-center">
      <div class="text-center">
        <h2 class="mb-5">Elfelejtett jelszó</h2>
      </div>
      <form action="/forgot/" method="POST">
        <div class="form-group col-md-6 mx-auto">
          <label for="email">Ha elfelejtetted a jelszavadat, add meg az email címed!</label>
          <input type="email" class="form-control" id="email" placeholder="email" name="email" autofocus required>
        </div>
        <div class="text-center mt-5">
          <button class="btn btn-primary"><i class="fas fa-check-circle"></i> Mehet</button>
        </div>
      </form>
    </div>
  </main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
  crossorigin="anonymous"></script>

</body>

</html>
