<% include partials/header %>

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">Bgy. Apró</h1>
    <p class="lead">Ingyenes apróhirdetés Balassagyarmat térségében. Hirdess ingyen, kötelezettségek nélkül.</p>
    <hr class="my-4">
    <p>Keresel, vagy kínálsz? Villámgyors, ingyenes hirdetésfeladás. Itt találkozik a kereslet a kínálattal.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Segítség</a>
    </p>
  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-header text-center">
          <h5 class="font-weight-bold">Polcos szobai kis szekrény</h5>
        </div>
<div class="card-body">
<p class="card-text">Polcos Szobai Kis szekrény, Magasság:160cm, Szélesség:120cm, Mély:40cm,
  tömör fa, hibátlan állapotú, kihasználatlanság miatt Balassagyarmaton eladó!Ir, ár:6000-Ft</p>
  <hr>
  <span>Feladva: 2018.10.15</span>
  <button class="btn btn-dark float-right">Fotó</button>
        </div>
        <div class="card-footer">
          <span class="badge badge-dark">#Balassagyarmat</span>
          <span class="badge badge-dark">#Bazár</span>
         <p>Hirdető:</p>
          <p>Tel:</p>
          <p>Ár:</p>
        </div>
      </div>
    </div>

<div class="col-md-3">
  <div class="card mb-3">
    <div class="card-header text-center ">
<h5 class="font-weight-bold">Marketing és vállalkozási ügyintézőt keresünk: IT vállalkozás</h5>
    </div>
    <div class="card-body ">
<p class="card-text">A feladat: Facebook, GoogleAds, stb. hirdetéseink tervezése, kezelése, követése, + változatos,
  figyelmet igénylő ügyintézői feladatok. KIZÁRÓLAG 100 %-os SZÖVEGÉRTÉSSEL</p>
      <hr>
      <span>Feladva: 2018.10.15</span>
      <button class="btn btn-dark float-right">Fotó</button>
    </div>
    <div class="card-footer ">
      <span class="badge badge-dark">#Balassagyarmat</span>
      <span class="badge badge-dark">#Bazár</span>
      <p>Hirdető:</p>
      <p>Tel:</p>
      <p>Ár:</p>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="card mb-3">
    <div class="card-header text-center ">
<h5 class="font-weight-bold">Taxi transzfer Liszt Ferenc repülőtérre</h5>
    </div>
    <div class="card-body ">
<p class="card-text">Taxi transzfer ajánlat olcsóbban a Liszt Ferenc reptérre Balassagyarmatról.
  http://www.taxitranszfer.hupont.hu</p>
      <hr>
      <span>Feladva: 2018.10.15</span>
      <button class="btn btn-dark float-right">Fotó</button>
    </div>
    <div class="card-footer ">
      <span class="badge badge-dark">#Balassagyarmat</span>
      <span class="badge badge-dark">#Bazár</span>
      <p>Hirdető:</p>
      <p>Tel:</p>
      <p>Ár:</p>
    </div>
  </div>
</div>
    
<div class="col-md-3">
  <div class="card mb-3">
    <div class="card-header text-center ">
<h5 class="font-weight-bold">TETŐFEDÉS BEÁZÁS MEGSZÜNTETÉSE!</h5>
    </div>
    <div class="card-body ">
<p class="card-text">Cégünk fő tevékenységi köre: tetőszigetelés, tetőfedő-, ács-, és mindennemű bádogos munka, de
  igény esetén teljes külső-belső felújítást is vállalunk.Rövid határidővel!</p>
      <hr>
      <span>Feladva: 2018.10.15</span>
      <button class="btn btn-dark float-right">Fotó</button>
    </div>
    <div class="card-footer ">
      <span class="badge badge-dark">#Balassagyarmat</span>
      <span class="badge badge-dark">#Bazár</span>
      <p>Hirdető:</p>
      <p>Tel:</p>
      <p>Ár:</p>
    </div>
  </div>
</div>

  </div>

</div>

<% include partials/footer %>