<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="eeKCyAjNUBeX3dNgn8t4cFe2Hzr_6XDMMwJD4h8VimM" />
  <meta name="description" content="Apróhirdetés Nógrád Megyében. Keress, kínálj. Gyorsan, egyszerűen, ingyenesen.">
  <meta name="robots" content="index, follow">
  <meta property="og:site_name" content="Nógrád Apró">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/main.css">
  <link rel="icon" href="/images/nograd-icon.png">
  <title>Apróhirdetés Nógrád megyében</title>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5631469285390271",
    enable_page_level_ads: true
  });
</script>
  <style>
  body {
    padding: 0;
    margin: 0;
  }
  </style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135987526-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-135987526-1');
</script>
</head>
<body>
<div class="jumbotron landing">
  <div class="wrapper">
    <h1 class="display-2">Nógrád Apró</h1> 
    <h2 class="mt-4">Ingyenes és az is marad.</h2>
    <a class="btn btn-dark btn-lg px-5 py-2 mt-4" href="/ads">
      <h3>Belépek</h3>
    </a>
    <!-- <a class="btn btn-warning btn-lg px-4 py-2 mt-4" href="https://nyeremenyjatek.netlify.com" target="_blank">
      <h3 class="text-dark">NYEREMÉNYJÁTÉK!</h3>
    </a> -->
  </div>
</div>
  <!-- <div class="bottom-btn">
<a class="btn btn-dark btn-lg px-5 py-2" href="/ads"><h3>Belépek</h3></a>
</div> -->
</body>
</html>