<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/main.css">
  <link rel="icon" href="/images/nograd-icon.png">
  <title>Nógrád Apróhirdetés</title>
  <style>
  body {
    padding: 0;
    margin: 0;
  }
  </style>
</head>
<body>
<div class="jumbotron landing">
  <div class="wrapper">
    <h1 class="display-2">Nógrád Apró</h1>
    <h3 class="">Ingyenes apróhirdetés, Nógrád megyére szabva.</h3>
    <p class="lead">Hirdess ingyen, kötelezettségek nélkül.</p>
    <p>Villámgyors, ingyenes hirdetésfeladás. Itt találkozik a kereslet a kínálattal.</p>
    <img src="/icons/bull-horn.svg" style="width:150px;">
    
      <a class="btn btn-light btn-lg" href="/ads" role="button"><img src="/icons/checkmark-circle.svg" class="pb-1"> Belépek</a>
  
  </div>
</div>
</body>
</html>