<% include ./partials/header %>

<div class="container-fluid text-center log-bg">
  <div class="wrapper">
    <h1 class="mb-4">Regisztráció</h1>

    <form action="/register" method="POST">
      <div class="form-row">
        <div class="form-group col-sm-4 mx-auto">
          <input class="form-control" type="email" name="email" placeholder="email cím">
          <small id="emailHelp" class="form-text text-muted">Soha nem adjuk ki illetékteleneknek az email címed.</small>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-4 mx-auto">
          <input class="form-control" type="text" name="username" placeholder="felhasználónév">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-4 mx-auto">
          <input class="form-control" type="password" name="password" placeholder="jelszó">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-sm-4 mx-auto">
          <input class="form-control" type="password" name="samePassword" placeholder="jelszó mégegyszer">
          <!-- <small id="passwdHelp" class="form-text">8 karakter, nagybetű, szám és/vagy speciális karakter legyen!</small> -->
        </div>
      </div>
      <div class="form-group mt-2 mb-3">
        <input type="checkbox" class="form-check-input" id="check1" required><small>Tudomásul vettem az <a class="" href="/gdpr" target="_blank">adatkezelési tájékoztatóban</a> foglaltakat, és elfogadom azt.</small> 
      </div>
      <button class="btn btn-md btn-primary">Regisztrálok</button>
      <a class="btn btn-md btn-dark" href="/ads">Vissza</a>
    </form>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
  crossorigin="anonymous"></script>

</body>

</html>