/* ADD SMOOTH SCROLLING IN-PAGE NAVIGATION */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 20px;
  padding-bottom: 10px;
}

body#prize {
  min-width: 100vh;
}

.bg-light-dark {
  background-color: #1e2227;
}

.container.show-page {
  overflow-x: hidden;
}

.text-black {
  color: #000;
}

.badge {
  padding: 6px;
}

.badge-black, .bg-black {
  background: #000;
}

.show-page, .main-content {
  min-height: calc(100vh - 60px);
}

#footer {
  height: 560px;
}

.navbar img,
.ads-card img {
  transition: .2s ease-out;
}

.navbar img:hover {
  transform: scale(1.1);
} 

.jumbotron.index {
  position: relative;
  margin-top: 2%;
  background: url('../images/blue.png') center;
  border-radius: 0;
  color: #000;
}

.jumbotron.landing {
  margin: 0;
  padding: 0;
  background: url('../images/Wintery-Sunburst.svg') no-repeat center/cover;
  color: #000;
  /* text-shadow: 5px 5px 5px #000; */
  border-radius: 0;
  height: 100vh; 
}

/* .bottom-btn a {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 30px;
} */

.jumbotron.index h1 {
  font-weight: bolder;
  text-shadow: 5px 5px 5px #000;
}

.jumbotron.landing h1 {
  font-weight: bolder;
}

.jumbotron.landing .btn {
  text-shadow: none;
}

.jumbotron.index a {
  text-shadow: none;
  }

div.ads-item {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

div.ads-bg {
  color: #000;
}

div.ads-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background: #ffffff;
  padding: 15px;
  transform: translate(-50%, -50%) scale(0);
  transition: : transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.272);
}

div.ads-item:hover img {
  opacity: .7;
  filter: grayscale(100%);
}

div.ads-item * {
  transition: all .35s ease-in-out;
}

div.ads-item:hover i {
  transform: translate(-50%, -50%) scale(1);
  transition: : transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.272);
  z-index: 5;
}

.card {
  border: none;
  background: #e9ecef;
  /* box-shadow: 5px 5px 5px #333; */
}

.ads-card .card-title {
  height: 65px;
}

.ads-card img {
  border-radius: 0;
}

.card-body {
  transition: .3s ease-in-out;
}

.card-body a {
  text-decoration: none;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.mt-ads {
  margin-top: 80px;
}

.log-bg {
  width: 100%;
  height: 100%;
  background: #e9ecef;
}

.radios .custom-radio {
  display: inline !important;
  margin: 0 4px;
}

.messages {
  top: 10%;
  position: absolute;
}

.btn-face {
  background: #3B5998;
  color: #fff;
}

.btn-face:hover {
  background: #293E6A;
  color: #fff;
}

.btn-twitter {
    background: #1DA1F2;
    color: #fff;
    height: 28px;
}

.btn-twitter:hover {
  background: #527dda;
  color: #fff;
}

.impressum li img {
  width: 140px;
}

.alert {
  z-index: 10;
}

.container, .container-fluid {
  padding-top: 20px;
}

.twitter-share-button,
.fb-share-button {
  vertical-align: middle;
}