/* ADD SMOOTH SCROLLING IN-PAGE NAVIGATION */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 56px;
}

.jumbotron {
  margin-top: 2%;
  background: url('https://www.wykop.pl/cdn/c3201142/comment_BsTE7MWbCz0L3vXN9yhUQvwRBItpel89.gif') no-repeat 50% center/cover;
}

.ads-card .card-title {
  height: 40px;
}

.card-body {
  height: 345px;
  transition: .3s ease-in-out;
}

.card-body img {
  height: 250px;
}

.card-footer p {
  margin-bottom: 3px;
  color: #000;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
}

.mt-ads {
  margin-top: 80px;
}

.log-bg {
  width: 100%;
  height: calc(100vh - 56px);
  background: #e9ecef;
}

.radios .custom-radio {
  display: inline !important;
  margin: 0 4px;
}

/* custom title element */
li[custom-title]:hover:after {
  content: attr(custom-title);
  background: #772953;
  color: #e9ecef;
  padding: 2px 4px;
  position: absolute;
  left: 15%;
  top: 20%;
  border-radius: 5px;
}

.messages {
  top: 10%;
  position: absolute;
}

.btn-face {
  background: #3B5998;
  color: #fff;
}

.btn-face:hover {
  background: #293E6A;
  color: #fff;
}

.btn-twitter {
    background: #1DA1F2;
    color: #fff;
    height: 28px;
}

.btn-twitter:hover {
  background: #527dda;
  color: #fff;
}

