<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="icon" href="/images/nograd-icon.png">
  <title>Segítség a Nógrád Apró apróhirdetési oldal használatához.</title>
  <style>
    html {
    scroll-behavior: smooth;
  }

  body {
    padding-top: 46px;
  }

  section {
    padding-top: 76px;
  }

  .jumbotron {
background: url('https://res.cloudinary.com/maja0426/image/upload/v1550879003/Aprohirdetes/Rainbow-Vortex.svg')
no-repeat 50% center/cover;
    border-radius: 0;
color: #e9ecef;
text-shadow: 5px 5px 5px #000;
}

  /* nav li a:hover {
    color: #fff !important;
    background: #e95420;
  } */

.jumbotron .btn {
text-shadow: none;
}
</style>
</head>

<body id="pageTop">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="text-light lead mr-3" href="/ads"><img src="/images/nograd.png" alt="nogradapro icon" style="width:40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#pageTop">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#whatis">Az oldalról</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#register">Regisztráció, bejelentkezés</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ads-on">Hirdetés feladása</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ads">Hirdetések</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#search">Keresés a hirdetések között</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#social">Megosztás</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-2">HELP!! <i class="fas fa-map-signs"></i></h1>
    <p class="lead">Avagy segítség a Nógrád Apró apróhirdetési oldal használatához. Tudnivalók a használatáról,
      működéséről.</p>
    <p>Kérlek olvasd át alaposan ezt az oldalt. Itt a működéssel kapcsolatos szinte minden kérdésedre választ
      fogsz kapni.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/ads" role="button">Vissza</a>
    </p>
  </div>

  <div class="container help">

    <section id="whatis">
      <h2><i class="fas fa-desktop"></i> Az oldalról</h2>
      <hr>
      <p class="lead">Üdvözöllek a nogradapro.com hirdetési oldalon. Ez az oldal azért jött létre, mert nem találtam
        olyan egyszerű, szimpla hirdetési oldalt, ahol alapvetően Nógrád megyéből, Nógrád megyében élők
        keresnek/kínálnak. Persze a nagy hirdetési oldalakon lehet szűrni hirdetés feladásának helyére is, azonban ezek
        nagy, komplex oldalak. Én valami kicsi, egyszerűt kerestem, kimondottan Nógrád megyére szabva.</p>
      <p class="lead">Mivel nem találtam ilyet, ezért úgy döntöttem hogy én magam készítek egyet, ennek az eredményét
        látod
        most. Ha tetszik az oldal, szívesen használod, vagy csak véleményed van róla, ne tartsd magadban, írj a <a href="email:develop.tmsmajoros@gmail.com">develop.tmsmajoros@gmail.com</a>
        emailcímre egy üzenetet.</p>
      <p class="lead">Az oldal készítésekor az egyik legfontosabb szempont az volt, hogy az asztali böngészőkön kívül
        mobiltelefonon és tableten is jól használható, egyértelmű legyen. Ne legyen akadálya annak ha mobilról akarsz
        hirdetést feladni, egyszerűen lépj be, írd meg a hirdetés szövegét, készíts az eladni szándékozott dologról egy
        képet, és add fel a hirdetést! Ilyen egyszerű. Ráadásul biztosan sok ismerősöd van közösségi oldalakon, így egy
        kattintással a már elkészült hirdetésed megoszthatod akár facebook-on, akár twitteren is.</p>
    </section>

    <section id="register">
      <h2><i class="fas fa-user-plus"></i> Regisztráció, bejelentkezés</h2>
      <hr>
      <p class="lead">Ahhoz hogy keress a hirdetések között, megoszd ismerőseid, barátaid, üzlettársaid hirdetéseit,
        vagy kommentáld a hirdetéseked, nem szükséges regisztrálnod. Azonban ha hirdetéseket is szeretnél feladni,
        akkor a legfelül található menüsáv <span class="badge badge-primary"><i class="fas fa-user-plus"></i>
          Regisztráció</span> menüpontjára kattintva ezt megteheted. Nincs túlbonyolítva, csupán egy felhasználónév
        (nem kötelező saját név), emailcím és egy általad választott jelszó amit meg kell adnod.</p>
      <p class="lead">Ezek után már bármikor, a korábban beállított felhasználónév/jelszó párossal bejelentkezhetsz az
        oldalra, és adhatsz fel hirdetéseket. Ehhez csak kattints a <span class="badge badge-primary"><i class="fas fa-sign-in-alt"></i>
          Belépés</span> menüpontra. A sikeres bejelentkezést követően a menüsávban megjelenik a felhasználóneved. A
        felhasználónevedre kattintva egy helyen láthatod az összes eddig feladott hirdetésedet, melyekbe belépve
        utólagosan szerkesztheted, illetve törölheted is azokat.</p>

    </section>

    <section id="ads-on">
      <h2><i class="fas fa-edit"></i> Hirdetés feladása</h2>
      <hr>
      <p class="lead">Hirdetést feladni csak regisztrált és bejelentkezett felhasználó tud. A <span class="badge badge-primary"><i
            class="fas fa-pencil-alt"></i> Hirdetésfeladás</span> menüpontra kattintva megjelenik egy űrlap. Itt
        legelőször be kell állítani hogy eladni szeretnénk-e, vagy megvételre keresünk valamit. Ezt a Keres/Kínál mező
        beállításával tehetjük meg. Alapértelmezett esetben a Kínál mező az aktív, ha nem állítjuk át, a hirdetésünk
        automatikusan a Kínál rovatba fog kerülni.</p>
      <p class="lead">Ezt követően adjuk meg a hirdetésünk címét. Ez nagyon fontos, ugyanis az oldal keresőmotorja a
        címekben végez keresést, illetve a hirdetés oldalának címe is ez lesz. Ez a google keresés miatt fontos, hogy
        ha valaki "ráguglizik" egy termék nevére, adott esetben a te hirdetésed jelenjen meg a google keresések között.
        A 70 karakterben megszabott hirdetés címnek ugyanez az oka, hogy minél könnyebben megtalálható legyen a
        hirdetésed a világhálón.</p>
      <p class="lead">Ezt követi a hirdetni kívánt termék ára, Ft-ban. Bármilyen, neked szimpatikus formátumban
        beírhatod az összeget, azonban a "Ft" jelölést hagyd el, azt a program automatikusan az összeg után fogja
        illeszteni a hirdetésben.</p>
      <p class="lead">A következő mező a településnév. Itt adjuk meg a hirdetés helyét. Ez azért fontos, mert megkönnyíti hogy a vevő és az eladó egymásra találjon, mivel a programban lehetőség van a hirdetéseket településnév szerint is szűrni. Valamint ha twitteren megosztjuk a hirdetést, a településnév hashtaggel (<b> # </b>) ellátva bekerül a hírfolyamba, így a twitteren is könnyebben megtalálhatnak.</p>
      <p class="lead">Lejjebb a telefonszámod tudod megadni. Ez fontos, hogy az, akinek felkeltetted a figyelmét, el is érjen. A telefonszámot lehetőleg a kijelzőn megjelenő formátumban adjuk meg, ekor ugyanis ha valaki mobilon böngészi a hirdetéseket, egyszerűen a telefonszámodra kattintva felhívhat.</p>
        <p class="lead">
        A hirdetés kategória nagyon fontos és kötelező egyet kijelölni. Egyenlőre a következő kategóriák állnak lehetőségre: állás, ingatlan, szolgáltatás, műszaki cikk, oktatás, jármű és egyéb. A program kategóriák szerint is tud szűrni, a hirdetések kategóriák szerinti listázására is van lehetőség, valamint közösségi oldalon (twitter) való megosztáskor is hashtaggel ( # ) feltüntetésre kerül majd a hírfolyamban.</p> 
        <p class="lead">
        Igen, tudjuk hogy egy kép néha többet mond ezer szónál. Közhelyes, de igaz. Képet egyszrűen tudsz a képfeltöltés mezőre kattintva feltölteni asztali gépedről és mobilról is. Nem kötelező, de nagyban segíteni fogja hogy eladj/vásárolj valamit. Amennyiben nem töltesz fel képet, úgy a hirdetésben a kép helyén megjelenik egy figyelmeztető ábra, hogy nincs kép a hirdetéshez.</p>
        <p class="lead">És a legfontosabb; a hirdetésed szövege. Nincs megkötés a szöveg méretét tekintve, de javaslom a rövid, velős, tömör figyelemfelkeltő szöveget, mely tartalmazza a lényeges információkat. Senki sem szeret regényt olvasni ha hirdetéseket böngészik, de tudni akar minden érdemi információt. Szóval rövid, lényegretörő, minden érdemi információval ellátott szöveget írj!</p>
        <p class="lead">Ha megvagy mindennel, nincs más hátr minthogy a <button class="btn btn-sm btn-primary">Hirdetés feladása</button> gombra kattints, és a hirdetésed már kész is!</p>
    </section>

    <section id="ads">
      <h2><i class="fab fa-adversal"></i> A hirdetések</h2>
      <hr>
      <p class="lead">A főképernyőn sorakoznak a hirdetések kártyái. Egy sorban négy kártya, egy oldalon négy sor, azaz egyszerre 16 hirdetési kártya található egy oldalon. A többi kártya megtekintéséhez görgessünk a kártyák utolsó sorához, és az ott látható lapozó menüvel továbbmehetünk a következő oldalra.</p>
      <p class="lead">Minden kártya tartalmaz egy címsávot, ahol a hirdetés címét láthatjuk 50 karakter hosszúságban. Ez alatt található a hirdetés képe. A kép alatt az ún. <span class="badge badge-warning"># címkék</span> láthatóak. Itt látjuk hogy a hirdetés feladója keres vagy kínál, látjuk a hirdetés feladásának helyét, valamint megjelenik a kategória pl.: <span class="badge badge-dark"># jármű</span> is. Ezek a címkék is kattinthatóak, kattintásra az adott címke típusa szerint szűri a program a hirdetéseket. Pl. <span class="badge badge-primary"># Balassagyarmat</span> címkére kattintva az összes balassagyarmati hirdetést listázza az oldal. A címkék alatt láthatjuk hogy mikor lett feladva a hirdetés, illetve hogy mekkora összeget jelölt meg a hirdetés feladója a hirdetésében.</p>
      <p class="lead">Ha a hirdetés címére, vagy a hirdetés képére kattintunk, akkor megnyílik a részletes hirdetés nézeti oldal. Itt láthatjuk magát a hirdetést. A teljes címet, a képet nagyobb méretben, a hirdetés szövegét, illetve  a hirdetés adatait is. Itt tudjuk a hirdetést megosztani a facebook vagy twitter hírfolyamunkon is, a megfelelő gombra kattintva. Ha saját hirdetésünkbe léptünk be, akkor módunkban áll szerkeszteni illetve törölni a hirdetést.</p>
    </section>

    <section id="search">
      <h2><i class="fas fa-search"></i> Keresés</h2>
      <hr>
      <p class="lead">A keresőmezőbe kulcsszavakat, kifejezéseket írhatunk. Fontos tudni hogy a program a hirdetések címében végez keresést, kis -és nagy betűre nem érzékeny, illetve karakteregyezéseket keres (fuzzy search). Ha pl. beírjuk hogy <span class="text-info">"xbox"</span>, minden olyan hirdetés meg fog jelenni, melynek címében szerepel az xbox szó. A <span class="text-info">"box"</span> szóra adott válasz tartalmazni fog minden olyan hirdetést, melynek címében szerepe a <span class="text-info">"box"</span> szó, legyen szó xbox-ról, box-ról, boombox-ról stb.</p>
    </section>

    <section id="social">
      <h2><i class="fab fa-facebook-square"></i> Hirdetések megosztása</h2>
      <hr>
      <p class="lead">Miért ne használnád ki a közösségi oldalakat? Biztosan sok ismerősöd, követőd van facebook-on és/vagy twitteren. Elég egyszer megírnod a hirdetésedet, majd azt egyetlen gombnyomással több száz ember számára elérhetővé teheted. Ha valakinek akár a facebook-on, akár a twitteren felkelti az érdeklődését a hirdetésed, azt megkattintva rögtön a nogradapro.com-on elhelyezett hirdetésedre ugorhat.</p>
      <p class="lead">A <btn class="btn btn-sm btn-info">facebook</btn> megosztás gombra kattintva az aktuális hirdetést meg tudjuk osztani a Facebook hírfolyamunkon. Ez a lehetőség nem csak a regisztrált felhasználóknak, hanem bármely az oldalt meglátogató személynek lehetőségére áll. A hírfolyamunkon meg fog jelenni egy kártya, benne a hirdetésünk képe, a hirdetési oldal címe, a hirdetésünk egy rövid leírással. Ha a  kártyára kattintunk akkor a hirdetési oldal a hirdetésére fog vinni, ahol a teljes hirdetést elolvashatjuk ill. megnézhetjük.</p>
      <p class="lead">A <btn class="btn btn-sm btn-info">twitteren</btn> történő megosztáshoz a Tweet gombra kattintva az aktuális hirdetést a twitter hírfolyamunkon tudjuk megjelentetni. A facebookos megoldáshoz hasonlóan fog megjelenni a hirdetés a hírfolyamban. Fontos még megjegyezni hogy a Twitter hirfolyamban fel lesz tüntetve hashtaggel ( # ) a hirdetés helye illetve a hirdetés kategóriája, ami a twittert használóknak segít abban hogy rátaláljanak az általunk hirdetett termékre.</p>
    </section>


  </div>

  <% include ../partials/footer %>