<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="icon" href="/images/nograd-icon.png">
  <title>Segítség a Nógrád Apró apróhirdetési oldal használatához.</title>
  <style>
    html {
    scroll-behavior: smooth;
  }

  body {
    padding-top: 46px;
  }

  section {
    padding-top: 76px;
  }

  .jumbotron {
background: url('/images/Rainbow-Vortex.svg')
no-repeat 50% center/cover;
    border-radius: 0;
color: #e9ecef;
text-shadow: 5px 5px 5px #000;
}

  nav li a:hover {
    color: #fff !important;
    background: #e95420;
  }

.jumbotron .btn {
text-shadow: none;
}
</style>
</head>

<body id="pageTop">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="text-light lead mr-3" href="/ads"><img src="/images/nograd.png" alt="nogradapro icon" style="width:40px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#pageTop">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#whatis">Az oldalról</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#base">Az alapok</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#ads-on">Hirdetés feladása</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#search">Keresés a hirdetések között</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#register">Regisztráció</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron">
    <h1 class="display-2">HELP!!</h1>
    <p class="lead">Avagy segítség a Nógrád Apró apróhirdetési oldal használatához. Tudnivalók a használatáról,
      működéséről.</p>
    <p>Kérlek olvasd át alaposan ezt az oldalt. Itt az oldal működésével kapcsolatos szinte minden kérdésedre választ
      fogsz kapni.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/ads" role="button">Vissza</a>
    </p>
  </div>

  <div class="container help">

    <section id="whatis">
      <h2>Az oldalról</h2>
      <hr>
      <p class="lead">Üdvözöllek a nogradapro.com hirdetési oldalon. Ez az oldal azért jött létre, mert nem találtam
        olyan egyszerű, szimpla hirdetési oldalt, ahol alapvetően Nógrád megyéből, Nógrád megyében élők
        keresnek/kínálnak. Persze a nagy hirdetési oldalakon lehet szűrni hirdetés feladásának helyére is, azonban ezek
        nagy, komplex oldalak. Én valami kicsi, egyszerűt kerestem, kimondottan Nógrád megyére szabva.</p>
      <p class="lead">Mivel nem találtam ilyet, ezért úgy döntöttem hogy én magam készítek egyet, ennek az eredményét
        látod
        most. Ha tetszik az oldal, szívesen használod, vagy csak véleményed van róla, ne tartsd magadban, írj a <a href="email:develop.tmsmajoros@gmail.com">develop.tmsmajoros@gmail.com</a>
        emailcímre egy üzenetet.</p>
      <p class="lead">Az oldal készítésekor az egyik legfontosabb szempont az volt, hogy az asztali böngészőkön kívül
        mobiltelefonon és tableten is jól használható, egyértelmű legyen. Ne legyen akadálya annak ha mobilról akarsz
        hirdetést feladni, egyszerűen lépj be, írd meg a hirdetés szövegét, készíts az eladni szándékozott dologról egy
        képet, és add fel a hirdetést! Ilyen egyszerű. Ráadásul biztosan sok ismerősöd van közösségi oldalakon, így egy
        kattintással a már elkészült hirdetésed megoszthatod akár facebook-on, akár twitteren is.</p>
    </section>

    <section id="base">
      <h2>Az alapok</h2>
      <hr>
      <p class="lead">Ahhoz hogy keress a hirdetések között, megoszd ismerőseid, barátaid, üzlettársaid hirdetéseit,
        vagy kommentáld a hirdetéseked, nem szükséges regisztrálnod. Azonban ha hirdetéseket is szeretnél feladni,
        akkor a legfelül található menüsáv <span class="badge badge-primary"><i class="fas fa-user-plus"></i>
          Regisztráció</span> menüpontjára kattintva ezt megteheted. Nincs túlbonyolítva, csupán egy felhasználónév
        (nem kötelező saját név), emailcím és egy általad választott jelszó amit meg kell adnod.</p>
      <p class="lead">Ezek után már bármikor, a korábban beállított felhasználónév/jelszó párossal bejelentkezhetsz az
        oldalra, és adhatsz fel hirdetéseket. Ehhez csak kattints a <span class="badge badge-primary"><i class="fas fa-sign-in-alt"></i>
          Belépés</span> menüpontra. A sikeres bejelentkezést követően a menüsávban megjelenik a felhasználóneved. A
        felhasználónevedre kattintva egy helyen láthatod az összes eddig feladott hirdetésedet, melyekbe belépve
        utólagosan szerkesztheted, illetve törölheted is azokat.</p>

    </section>

    <section id="ads-on">
      <h2>Hirdetés feladása</h2>
      <hr>
      <p class="lead">Hirdetést feladni csak regisztrált és bejelentkezett felhasználó tud. A <span class="badge badge-primary"><i
            class="fas fa-pencil-alt"></i> Hirdetésfeladás</span> menüpontra kattintva megjelenik egy űrlap. Itt
        legelőször be kell állítani hogy eladni szeretnénk-e, vagy megvételre keresünk valamit. Ezt a Keres/Kínál mező
        beállításával tehetjük meg. Alapértelmezett esetben a Kínál mező az aktív, ha nem állítjuk át, a hirdetésünk
        automatikusan a Kínál rovatba fog kerülni.</p>
      <p class="lead">Ezt követően adjuk meg a hirdetésünk címét. Ez nagyon fontos, ugyanis az oldal keresőmotorja a
        címekben végez keresést, illetve a hirdetés oldalának címe is ez lesz. Ez a google keresés miatt fontos, hogy
        ha valaki "ráguglizik" egy termék nevére, adott esetben a te hirdetésed jelenjen meg a google keresések között.
        A 70 karakterben megszabott hirdetés címnek ugyanez az oka, hogy minél könnyebben megtalálható legyen a
        hirdetésed a világhálón.</p>
      <p class="lead">Ezt követi a hirdetni kívánt termék ára, Ft-ban. Bármilyen, neked szimpatikus formátumban
        beírhatod az összeget, azonban a "Ft" jelölést hagyd el, azt a program automatikusan az összeg után fogja
        illeszteni a hirdetésben.</p>
      <p class="lead">A következő menü a településnév.</p>
    </section>

    <section id="search">
      <h2>Keresés a hirdetések között</h2>
      <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla doloremque a velit sed repellat
        iusto corrupti voluptatibus repudiandae corporis nobis quaerat cupiditate similique laboriosam, quia, adipisci
        cumque ad sint tempore consectetur, expedita tempora animi blanditiis! Quo ratione inventore error deleniti.</p>
    </section>

    <section id="register">
      <h2>Regisztráció</h2>
      <hr>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla doloremque a velit sed repellat
        iusto corrupti voluptatibus repudiandae corporis nobis quaerat cupiditate similique laboriosam, quia, adipisci
        cumque ad sint tempore consectetur, expedita tempora animi blanditiis! Quo ratione inventore error deleniti.</p>
    </section>


  </div>

  <% include ../partials/footer %>