<% include ../partials/header %>

<!-- Main section -->
<section class="container impressum">
  <h2 class="display-4 text-center my-5">Impresszum</h2>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group text-center">
        <li class="list-group-item bg-primary text-light lead">Felhőszolgáltató</li>
        <li class="list-group-item">
          <b>Cégnév:</b> <img src="/images/heroku-logo.svg" alt="Heroku logo"></li>
        <li class="list-group-item">
          <b>Székhely:</b> The Landmark @ 1 Market St. Suite 300 San Francisco, CA 94105</li>
        <li class="list-group-item">
          <b>Levelezési cím:</b> The Landmark @ 1 Market St. Suite 300 San Francisco, CA 94105</li>
        <li class="list-group-item"><b>Email: </b><a href="email:feedback@heroku.com">feedback@heroku.com</a></li>
      </ul>
      <p class="mt-5"></p>
      <ul class="list-group text-center">
        <li class="list-group-item bg-primary text-light lead">Weboldal Üzemeltetője</li>
        <li class="list-group-item">
          <b>Majoros Tamás József egyéni vállalkozó</b>
        </li>
        <li class="list-group-item">
          <b>Székhely / levelezési cím:</b> 2660 Balassagyarmat, Patvarci utca. 18.</li>
        <li class="list-group-item">
          <b>Nyilvántartásba bejegyző hatóság:</b> Belügyminisztérium Nyilvántartások Vezetéséért Felelős Helyettes
          Államtitkár
          Okmányfelügyeleti Főosztály</li>
        <li class="list-group-item">
          <b>Nyilvántartási szám:</b> 52682997</li>
        <li class="list-group-item">
          <b>Adószám:</b> 69089516-1-51</li>
        <li class="list-group-item">
          <b>Telefonszám:</b>
          <a href="tel:+36705301130">+36(70)530-1130</a>
        </li>
        <li class="list-group-item">
          <b>E-mail cím:</b>
          <a href="email:develop.tmsmajoros@gmail.com">develop.tmsmajoros@gmail.com</a>
        </li>
        <li class="list-group-item">
          <b>Iparkamara: </b> Nógrád Megyei Kereskedelmi és Iparkamara</li>
      </ul>
    </div>
  </div>
</section>

<% include ../partials/footer %>