<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Apróhirdetés Nógrád Megyében. Keress, kínálj. Gyorsan, egyszerűen, ingyen.">
  <meta name="title" content="Az Önnek tervezett weboldalal. Weboldalkészítés nógrád megyében.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Az Önnek tervezett weboldalal. Weboldalkészítés nógrád megyében.">
  <meta property="og:description" content="Modern, kedvező árú, statikus és dinamikus weboldalak készítése! Smart-Bee Web Balassagyarmat, Nógrád megye.">
  <meta property="og:image" content="https://res.cloudinary.com/maja0426/image/upload/v1556741093/Smartbee/sbw.jpg">
  <meta property="og:url" content="https://smartbeeweb.hu"> 

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/main.css">
  <link rel="icon" href="/images/nograd-icon.png">

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135987526-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-135987526-1');
  </script>
</head>

<body id="prize">

<div class="container show-page">

  <!-- <hr class="my-4"> -->
  <h1 class="text-center bg-light-dark text-light p-3">
    A játékban való részvételhez kattints lentebb a facebook megosztás gombra, valamint ha eddig még nem tetted
    meg, <a href="/register" role="link">regisztrálj</a> az oldalra!
  </h1>
  <hr class="my-2">
  <h2 class="text-center"><a href="https://nyeremenyjatek.netlify.com" target="_blank" rel="noreferrer" class="text-primary">A nyereményjáték szabályai</a></h2>
  <hr class="my-2">


  <div class="row my-4">
    <div class="col-md-6 show-img mb-5 mx-auto">
      <img src="https://res.cloudinary.com/maja0426/image/upload/v1556739160/Smartbee/smartbee-ads6.jpg"
        class="img-fluid rounded"
        alt="Nógrád Apró apróhiretés, Statikus, Dinamikus weboldalak készítése, Balassagyarmat">
    </div>

    <div class="col-lg-12">

        <div class="mb-4 text-center">
          <!-- Your share button code -->
          <div class="fb-share-button" data-href="https://smartbeeweb.hu" data-layout="button_count" data-size="large">
            <a target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsmartbeeweb.hu%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore">Megosztás</a></div>
        </div>

      <div class="text-center">
        <a href="/ads" class="btn btn-dark">Vissza a hirdetésekhez</a>
      </div>     
    </div>
  </div>
</div>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v3.2&appId=402266097283877&autoLogAppEvents=1">
  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
    integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous">
  </script>
  <!-- close responsive nav after click dropdown not -->
  <script>
    $(document).on('click', '.navbar-collapse', function (e) {
      if ($(e.target).is('a') && ($(e.target).attr('class') != 'dropdown-toggle')) {
        $(this).collapse('hide');
      }
    });
  </script>
  </body>

  </html>