<!DOCTYPE html>
<html lang="hu">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Apróhirdetés Nógrád Megyében. Keress, kínálj. Gyorsan, egyszerűen, ingyen.">
  <meta name="title" content="Az Önnek tervezett weboldalal. Weboldalkészítés nógrád megyében.">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Az Önnek tervezett weboldalal. Weboldalkészítés nógrád megyében.">
  <meta property="og:description" content="Modern, kedvező árú, statikus és dinamikus weboldalak készítése! Smart-Bee Web Balassagyarmat, Nógrád megye.">
  <meta property="og:image" content="https://smartbeeweb.hu/img/rocketer.jpg">
  <meta property="og:url" content="https://smartbeeweb.hu"> 

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
  <link rel="stylesheet" href="/CSS/main.css">
  <link rel="icon" href="/images/nograd-icon.png">

  <% moment.locale("hu") %>

  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <script>
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#000"
          },
          "button": {
            "background": "#772953"
          }
        },
        "theme": "edgeless",
        "content": {
          "message": "Ez a weboldal cookie-kat használ annak biztosítására, hogy a lehető legjobb élményt nyújthassuk honlapunkon.",
          "dismiss": "Rendben!",
          "link": "További tudnivalók",
          "href": "/cookies"
        }
      })
    });
  </script>
  <!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5631469285390271",
    enable_page_level_ads: true
  });
</script> -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135987526-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-135987526-1');
  </script>
</head>

<body id="pageTop">

<div class="container show-page mt-5">

  <!-- <hr class="my-4"> -->
  <h1 class="text-center bg-dark text-light p-3">
    Statikus, Dinamikus weboldalak készítése!
  </h1>
  <hr class="my-2">
  <h4 class="text-center">
    <b class="text-primary">
      
        Smart-Bee Web</b> hirdetése
  </h4>
  <hr class="my-2">


  <div class="row my-4">
    <div class="col-md-6 show-img mb-5 mx-auto">
      <img src="https://res.cloudinary.com/maja0426/image/upload/v1556474138/Smartbee/rocketer.jpg"
        class="img-fluid rounded"
        alt="Nógrád Apró apróhiretés, Statikus, Dinamikus weboldalak készítése!, Balassagyarmat">
    </div>

    <div class="col-lg-12">
      <div class="row text-center">
        <div class="col-6 col-sm-3">
          <span class="fa-stack mb-2 fa-2x" aria-label="Ikon, kéz felette egy dollár jel.">
            <i class="fas fa-square fa-stack-2x text-warning"></i>
            <i class="fas fa-hand-holding-usd fa-stack-1x"></i>
          </span>
          <h5 class="service-heading">Ár:</h5>
          <h6>Nincs ár</h6>
        </div>
        <div class="col-6 col-sm-3">
          <span class="fa-stack mb-2 fa-2x" aria-label="Ikon, mobiltelefon.">
            <a href="tel:+36302224973" class="text-dark">
              <i class="fas fa-square fa-stack-2x text-warning"></i>
              <i class="fas fa-mobile-alt fa-stack-1x"></i>
          </span>
          <h5 class="service-heading">Tel.:</h5>
          <h6>
            +36302224973</a></h6>
        </div>
        <div class="col-6 col-sm-3">
          <span class="fa-stack mb-2 fa-2x" aria-label="Ikon, naptár.">
            <i class="fas fa-square fa-stack-2x text-warning"></i>
            <i class="far fa-calendar-alt fa-stack-1x"></i>
          </span>
          <h5 class="service-heading">Dátum:</h5>
          <h6>2019. március 23.</h6>
        </div>
        <div class="col-6 col-sm-3">
          <span class="fa-stack mb-2 fa-2x" aria-label="Ikon, térkép.">
            <i class="fas fa-square fa-stack-2x text-warning"></i>
            <i class="fas fa-map-marked-alt fa-stack-1x"></i>
          </span>
          <h5 class="service-heading">Hely:</h5>
          <h6>Balassagyarmat</h6>
        </div>
      </div>
      <hr>

      <div class="col-md-12 desc">
        <p class="mb-4">
          <p><b>Miközben zajlik a legújabb ipari forradalom, és rohamosan digitalizálódik a gazdaság, a magyarországi
              mikro- és kisvállalkozásoknak több mint felének még intern<span class="text_exposed_show">etes honlapja
                sincs.</span></b></p>
          <p><span class="text_exposed_show">Célom a Nógrád megyei mikro -és kisvállalkozásoknak történő segítségnyújtás
              a digitális jelenlét biztosításával. Azon tévhitek eloszlatása, hogy a kisvállalkozások számára egy
              modern, gyors, biztonságos üzleti weboldal nem megfizethető.</span></p>
          <p><b>Egyetlen közösségi oldal sem<span> képes olyan mélységben megmutatni vállakozásod, mint egy saját,
                személyre szabott üzleti bemutatkozó weboldal. Ráadásul az elmúlt időszak visszhangot kiváltó eseményei
                miatt ezek az oldalak (pl. a facebook) sokat veszítettek hitelességükből, nem beszélve arról hogy ki
                vannak téve az üzemeltető általi időszakos változásoknak, módosításoknak. Menj biztosra, legyen saját
                oldalad!</span></b></p>
          <p><span class="text_exposed_show"><b>Egy jó weboldal</b> látogatókat vonz, csökkenti a vállalkozás függőségét
              egyéb médiumok felületeitől. Egy weboldal látogatottsága mérhető, költségei már közepes távon kisebbek
              mint egy hagyományos hirdetési felületnek. Ráadásul online felületen pillanatok alatt tudsz reagálni ha
              változás áll be az üzletben. Mindig naprakész lehetsz.</span></p>
          <p><span class="text_exposed_show">Ma már <b>egy vállalkozás sikerének</b> – sőt, az idő előrehaladtával egyre
              inkább működésének – egyik alappillére az online megjelenés, legyen szó szinte bármilyen termékről vagy
              szolgáltatásról. Hangzatosnak tűnhet, de igaz: ha nem tartod a lépést, behozhatatlan hátrányba kerülsz,
              legyen bármilyen jó a szolgáltatás vagy a termék. Nem elég tudni azt hogy a cég létezik; meg kell azt
              mutatni, bárki számára elérhetővé kell tenni.</span></p>
          <p><u><b>Pár szóban a Smart-Bee -ről:</b></u></p>
          <div class="_3-8w">
            <div id="id_5c9631a38fd480f46984525" class="text_exposed_root text_exposed">Statikus és dinamikus weboldalak
              készítésével foglalkozom.&nbsp;<span class="text_exposed_show">Ma már egy vállalkozás sikerének - sőt, az
                idő előrehaladtával egyre inkább működésének - egyik alappillére az online megjelenés, legyen szó szinte
                bármilyen termékről vagy szolgáltatásról.&nbsp;<br><br>A legújabb technológiákat használom. HTML5, CSS3,
                JavaScript, Node.js, Express.js, MongoDb esetleg Bootstrap vagy egyéb keretrendszer. Az általam
                készített oldalak gyorsak, kis helyigényűek, egyediek.<br><br>Az elkészült oldalak optimalizálását is
                elvégzem "élesítés" előtt. Sebesség, technikai "SEO". Kérésre segítek az oldal GDPR konformá tételében
                is.<br><br></span></div>
          </div>
        </p>

        <div class="my-4 text-center">
          <!-- Your share button code -->
          <div class="fb-share-button d-inline" data-href="<%=pageUrl%>" data-layout="button" data-size="large"><a
              target="_blank"
              href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnogradapro.com%2F&amp;src=sdkpreparse"
              class="fb-xfbml-parse-ignore"> Megosztás</a>
          </div>
        </div>
      </div>

      <div class="text-center">
        <a href="/ads" class="btn btn-dark">Vissza</a>


      </div>
      <hr class="mt-5">
     
    </div>
  </div>
  <% include ../partials/footer %>